.container-fluid {
  max-width: 80%;
}

.head {
  margin-bottom: 1.5em;

  img {
    vertical-align: bottom;
  }

  a {
    display: inline-block;
  }
}

footer {
  background-color: #2F2F2F;
  margin-top: 23em;
  height: 15em;
}
