body {
  padding-top: 20px;
}

.container-fluid {
  max-width: 80%;
}

.head {
  margin-bottom: 1.5em;

  img {
    vertical-align: bottom;
  }

  a {
    display: inline-block;

    big {
      font-size: 1.5em;
    }

    small {
      font-size: 1em;
    }
  }

  .hello {
    padding-top: 1.5ex;
  }
}

footer {
  background-color: #2F2F2F;
  margin-top: 23em;
  height: 15em;
}
