.questions-page{
  @extend .row;
  .mainBar{
    @extend .col-md-8;
  }
  .sideBar{
    @extend .col-md-4;
    display: block;

  }
  .stats {
    @extend  .col-md-2;
    clear: left;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    big {
      font-size: 3ex;
    }
  }
  .question-summary {
    padding-top: .5em;
  }

  .adSection{
    border: .25em solid orange;
    border-top: 2em solid orange;
    padding: 0 0.5em;

  }
};
