.main-top {
  margin-bottom: 2em;
}

big {
  font-size: 1.75em;
}

.user-activity {
  padding-left: 0;

  .user-stat {
    display: inline-block;
    text-align: left;
  }
}

.posts {
  nav {
    @extend .clearfix;
  }
}
