.questions-page{
  @extend row;
  .mainBar{
    @extend .col-md-8;
  }
  .sideBar{
    @extend .col-md-3;
    display: block;

  }
  .adSection{
    border: .25em solid orange;
    border-top: 2em solid orange;

  }
};
