<div>
  <a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a><a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a><a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a><a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a>
  <div class="error-box">
    <h1 class="error-stuff">404: Problem bro?</h1>
  </div>
  <a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a><a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a><a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a><a href="http://gifsoup.com/view/3237186/nyan-troll.html" target="_blank">
    <img src="http://stream1.gifsoup.com/view6/3237186/nyan-troll-o.gif" border="0" />
  </a>
</div>
