<div class="container-fluid questions-page col-md-12">


  <div class="content row">
    <section class="mainBar">
      <nav class="subHeader">
        <h3>All Questions
        </h3>
        <ul class="nav nav-tabs mainBarMenus">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">newest</a></li>
          <li role="presentation"><a href="#">featured</a></li>
          <li role="presentation"><a href="#">frequent</a></li>
          <li role="presentation"><a href="#">votes</a></li>
          <li role="presentation"><a href="#">active</a></li>
          <li role="presentation"><a href="#">answered</a></li>
        </ul>

      </nav>
      <div class="questionSummary">
        <div class="statsContainer">
          Stats go here
        </div>
        <h4>Question title goes here</h4>
        <p> Description</p>
      </div>
    </section>
    <!--End of Main Bar -->
    <div class="sideBar">
      <h2 class="numberOfQuestions">9,690,281</h2>
      <h4>quesitons</h4>
    </div>
  </div>