<div class="container-fluid" "page question-list">
  <div class="row">
    <nav class="topBar" "col-md-12">
      <select class="stackexchange">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>

        <ul>
          <li>
            <a href "#">sign up</a>
          </li>
          <li>
            <a href "#">login</a>
          </li>
          <li>
            <a href "#">tour</a>
          </li>
        </ul>
        <span class="topBarLinks">
          <select class="help">
            <option value="">help</option>
            <option value="">Tour</option>
            <option value="">Help Center</option>
            <option value="">Meta</option>
        </span>
        <ul>
          <li>stack overflow careers</li>
        </ul>
        <input type="text">
    </nav>
  </div>
  <!--End of Header -->
</div>

<div class="container">
  <div class="header">
    <a href="#">Logo Here</a>
    <ul class="headerMenus">
      <li>Questions</li>
      <li>Tags</li>
      <li>Users</li>
      <li>Badges</li>
      <li>Unanswered</li>
      <li>Ask Question</li>
    </ul>
  </div>
  <!--End of Header -->
  <div class="content">
    <section class="mainBar">
      <nav class="subHeader">
        <h3>All Questions
        </h3>
        <ul class="mainBarMenus">
          <li>newest</li>
          <li>featured</li>
          <li>frequent</li>
          <li>votes</li>
          <li>active</li>
          <li>unanswered</li>
        </ul>
      </nav>
      <div class="questionSummary">
        <div class="statsContainer">
          Stats go here
        </div>
        <h4>Question title goes here</h4>
        <p> Description</p>
      </div>
    </section>
    <!--End of Main Bar -->
    <div class="sideBar">

    </div>
  </div>
</div>

<link rel="stylesheet" href="styles/main.css">