<div class="container-fluid questions-page">


  <div class="content row">
    <section class="mainBar">
      <nav class="subHeader">
        <h3>All Questions
        </h3>
        <ul class="nav nav-tabs mainBarMenus">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">newest</a></li>
          <li role="presentation"><a href="#">featured</a></li>
          <li role="presentation"><a href="#">frequent</a></li>
          <li role="presentation"><a href="#">votes</a></li>
          <li role="presentation"><a href="#">active</a></li>
          <li role="presentation"><a href="#">answered</a></li>
        </ul>

      </nav>
      <div class="stats">
        <span>
          <big>0</big><br>
          <small>votes</small><br>
        </span>
        <span>
        <big>0</big>
        <small>answers</small>
        </span>
        <span>
          <big>2</big>
          <small>views</small>
        </span>
      </div>
      <div class="questionSummary">
        <div class="statsContainer">
        </div>
        <h4>Why is Gob so awesome?</h4>
        <p>I'm gonna build me an airport, put my name on it. Why, Michael? So you can fly away from your feelings? What do you think about Sudden Valley? It sounds like a salad dressing, but for some reason I don't want to eat it. Sorry, some of my students
          are arguing the significance of the shankbone on the seder plate. But we do not - NOT wag our genitals at one another to make a point. A lady of the evening. Working girl. She turns illusions for money. Ann, you need to decide whether you want
          a man or a boy. I know how I'd answer. Coo coo ca chaw. Coo coo ca chaw. Coo coo ca chaw. Butterscotch! Want a lick?</p>
      </div>
    </section>
    <!--End of Main Bar -->
    <div class="sideBar">
      <h2 class="numberOfQuestions">9,690,281</h2>
      <h4>quesitons</h4>


      <section class="adSection">
        <h1>Looking for a job??</h1>
        <h3>Cat Wrangler</h3>
        <p>Can you herd cats and wrangle them too? Well that makes you an awesome candidate for team lead for an Iron Yard group project.</p>

        <h3>Smacker</h3>
        <p>Are you good at smacking people? If so, we want you to come be a team lead on our TIY group projects today. Compensation = The gratification of smacking some mofos</p>


      </section>
    </div>
    <!--End of sidebar -->
  </div>
