<h3>{{question.title}}</h3>
<section class='well well-sm'>
 <p>{{question.body}}</p>
 <author>{{selected.inquiry.created_by}}</author>
</section>
<section>
 <h3>{{selected.inquiry.answers.length}} Answers</h3>
 <div class='well well-sm' ng-repeat="answer in question.answers">
   <p>{{answer.body}}</p>
   <author><small>{{answer.created_by}}</small></author> <!--End of answer text-->
 </div> <!--End of a single answer-->
</section>

<form class="answer-form">
  <h3>Your Answer</h3>
  <textarea class="form-control" name="textarea" rows="10" cols="50">Write something here</textarea>
  <button class="btn btn-primary">Post Your Answer</button>
</form>
