<h3>{{question.title}}</h3>
<section class='well well-sm'>
 <p>{{question.body}}</p>
 <author>{{selected.inquiry.created_by}}</author>
</section>
<section>
 <h3>{{selected.inquiry.answers.length}} Answers</h3>
 <div class='well well-sm' ng-repeat="answer in question.answers">
   <p>{{answer.body}}</p>
   <author><small>{{answer.created_by}}</small></author> <!--End of answer text-->
 </div> <!--End of a single answer-->
</section>

<form class="answer-form" ng-submit="submitAnswer()">
  <h4>Your Answer</h4>
  <textarea class="form-control" name="textarea" ng-model="answer.body" rows="10" cols="50">Write something here</textarea>
  <h4>Your name</h4>
  <input class="form-control" name="author" ng-model="answer.created_by" placeholder="Write your name here"></input>
  <button class="btn btn-primary">Post Your Answer</button>
</form>
