<h1>{{selected.inquiry.synopsis}}</h1>
<section class='well well-sm'>
  <p>{{selected.inquiry.body}}</p>
  <author>{{selected.inquiry.created_by}}</author>
</section>
<section>
  <h2>{{selected.inquiry.answers.length}} Answers</h2>
  <div class='well well-sm' ng-repeat="answer in selected.inquiry.answers">
    <p>{{answer.body}}</p>
    <author>{{answer.created_by}}</author> <!--End of answer text-->
  </div> <!--End of a single answer-->
</section>
<form class="answer-form">
  <h2>Your Answer</h2>
  <textarea class="form-control" name="textarea" rows="10" cols="50">Write something here</textarea>
  <button class="btn btn-primary">Post Your Answer</button>
</form>
