<nav>
    <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Activity</a></li>
  </ul>
</nav>
<aside class="col-md-3">
  <img src=http://lorempixel.com/164/164/cats/>
  <big>1,285</big><small>REPUTATION</small></br>
  <a href="#" class="question-rep">18</a>
  <a href="#" class="answer-rep">50</a>
</aside>
<div class="col-md-6">
  <h3>CatLover</h3>
  <p>Hiss at vacuum cleaner pelt around the house and up and down stairs chasing phantoms but caticus cuteicus. Sleep in the bathroom sink meow all night having their mate disturbing sleeping humans jump around on couch, meow constantly until given food, . Get video posted to internet for chasing red dot purr for no reason fall over dead (not really but gets sypathy) find something else more interesting. Sun bathe flop over, yet i am the best, need to chase tail. Chew foot cat snacks, for knock dish off table head butt cant eat out of my own dish but favor packaging over toy.</p>
</div>
<section>
  <ul class="col-md-3">
    <li>
      <big>26</big>
      <small>answers</small>
    </li>
    <li>
      <big>158</big>
      <small>questions</small>
    </li>
    <li>
      <big>~115k</big>
      <small>people reached</small>
    </li>
  </ul>
  <h5>github.com/CatLover</h5>
  <h5>Member for 27 years</h5>
  <h5>1,284 profile views</h5>
  <h5>Last seen 27 secs ago</h5>
</section>
<div class="col-md-9 col-md-offset-3">
  <h4>Top Posts (27)</h4>
  <ul>
    <li>Hiss at vacuum cleaner pelt around the house and</li>
  </ul>
</div>
